/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding-top:40px;
    padding-bottom: 70px;
}


html, body {
    height: 90%;
}

#wrap {
    min-height: 90%;
}

#main {
	overflow:auto;
	padding-bottom:150px;
}

#footer {
	position:relative;
	margin-top:-150px;
	margin-bottom:0;
	height:5px;
	clear:both;
	padding:80px 0;
	border-top:2px solid #000000;	
	background-color:#014165;
	background-image: linear-gradient(to bottom, #005479, #772533);
}

#logo_area {
	padding:10px 0;
	margin:0;
	display:inline-block;
}

#columns {
    width:100%;
}

#columns .column {
    position:relative;
    width:46%;
    padding:0%;
    border:solid 0px #ffffff;
    height:50%;
}

#columns .left {
    float: left;
}

#columns .right {
    float: right;
}



/* some older code below*/


/*.container {
    overflow: auto;
}

.footer {
  text-align: center;
  padding: 80px 0;
  margin-top: 100px;
  margin-bottom: 0;
  border-top: 2px solid #e5e5e5;
  background-color: #505050;
  height: 100px;
  position: relative;
  clear: both;
}
.footer p {
  margin-bottom: 0;
  color: #999999;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}*/

